# fly.toml app configuration file generated for funtasting on 2024-12-25T00:00:00Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "funtasting"
primary_region = "iad"

[build]

[env]
  APP_ENV = "production"
  APP_DEBUG = "false"
  LOG_LEVEL = "error"

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[[services]]
  http_checks = []
  internal_port = 8000
  processes = ["app"]
  protocol = "tcp"
  script_checks = []

